<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dr Stone</title>
    <!-- Bootstrap CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="../CSS files/AnimePage.css">
</head>
<body>

<div class="container-fluid mt-5 ">
    <div class="row ">
        <div class="col-lg-8 col-md-12">
            <!-- YouTube Trailer -->
            <div class="embed-responsive embed-responsive-16by9 mb-5 ">
                <iframe class="embed-responsive-item" src="https://www.youtube-nocookie.com/embed/KnEMDDMYYfU?si=khUjn4ggSr5RaKDj" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            </div>
            <!-- Tabs for Seasons -->
            <ul class="nav nav-tabs container-fluid" id="seasonTab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="season1-tab" data-toggle="tab" href="#season1" role="tab" aria-controls="season1" aria-selected="true">Season 1</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="season2-tab"  data-toggle="tab" href="#season2" role="tab" aria-controls="season2" aria-selected="false">Season 2</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="season3-tab"  data-toggle="tab" href="#season3" role="tab" aria-controls="season3" aria-selected="false">Season 3</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="season4-tab"  data-toggle="tab" href="#season4" role="tab" aria-controls="season4" aria-selected="false">OVA</a>
                </li>
            </ul>
            <div class="tab-content" id="seasonTabContent">
                <div class="tab-pane fade show active" id="season1" role="tabpanel" aria-labelledby="season1-tab">
                    <div class="container pt-3 ps-3">  
                        <div class="movie-container">
                            <div class="movie-card">
                                <img src="../Assets/Card-Assets/drTile01.jpg" alt="Dr Stone S01">
                                <p class="mt-3 text-white ">S01 Episode 01</p>
                            </div>
                            <div class="movie-card">
                                <img src="../Assets/Card-Assets/drTile01.jpg" alt="Frieren jr">
                                <p class="mt-3 text-white ">S01 Episode 02</p>
                            </div>
                            <div class="movie-card">
                                <img src="../Assets/Card-Assets/drTile01.jpg" alt="Dr Stone S01">
                                <p class="mt-3 text-white ">S01 Episode 03</p>
                            </div>
                            
                            <div class="movie-card">
                                <img src="../Assets/Card-Assets/drTile01.jpg" alt="Dr Stone S01">
                                <p class="mt-3 text-white ">S01 Episode 04</p>
                            </div>
                            <div class="movie-card">
                                <img src="../Assets/Card-Assets/drTile01.jpg" alt="Dr Stone S01">
                                <p class="mt-3 text-white ">S01 Episode 05</p>
                            </div>
                            <div class="movie-card">
                                <img src="../Assets/Card-Assets/drTile01.jpg" alt="Dr Stone S01">
                                <p class="mt-3 text-white ">S01 Episode 06</p>
                            </div>
                            <div class="movie-card">
                                <img src="../Assets/Card-Assets/drTile01.jpg" alt="Dr Stone S01">
                                <p class="mt-3 text-white ">S01 Episode 07</p>
                            </div>
                            <div class="movie-card">
                                <img src="../Assets/Card-Assets/drTile01.jpg" alt="Dr Stone S01">
                                <p class="mt-3 text-white ">S01 Episode 08</p>
                            </div>
                            <div class="movie-card">
                                <img src="../Assets/Card-Assets/drTile01.jpg" alt="Dr Stone S01">
                                <p class="mt-3 text-white ">S01 Episode 09</p>
                            </div>
                            <div class="movie-card">
                                <img src="../Assets/Card-Assets/drTile01.jpg" alt="Dr Stone S01">
                                <p class="mt-3 text-white ">S01 Episode 10</p>
                            </div>
                            <div class="movie-card">
                                <img src="../Assets/Card-Assets/drTile01.jpg" alt="Dr Stone S01">
                                <p class="mt-3 text-white ">S01 Episode 11</p>
                            </div>         
                            <div class="movie-card">
                                <img src="../Assets/Card-Assets/drTile01.jpg" alt="Dr Stone S01">
                                <p class="mt-3 text-white ">S01 Episode 12</p>
                            </div>
                            <div class="movie-card">
                                <img src="../Assets/Card-Assets/drTile01.jpg" alt="Dr Stone S01">
                                <p class="mt-3 text-white ">S01 Episode 13</p>
                            </div>
                            <div class="movie-card">
                                <img src="../Assets/Card-Assets/drTile01.jpg" alt="Dr Stone S01">
                                <p class="mt-3 text-white ">S01 Episode 14</p>
                            </div>
                
                            <div class="movie-card">
                                <img src="../Assets/Card-Assets/drTile01.jpg" alt="Dr Stone S01">
                                <p class="mt-3 text-white ">S01 Episode 15</p>
                            </div>
                            <div class="movie-card">
                                <img src="../Assets/Card-Assets/drTile01.jpg" alt="Dr Stone S01">
                                <p class="mt-3 text-white ">S01 Episode 16</p>
                            </div>
                            <div class="movie-card">
                                <img src="../Assets/Card-Assets/drTile01.jpg" alt="Dr Stone S01">
                                <p class="mt-3 text-white ">S01 Episode 17</p>
                            </div>
                            <div class="movie-card">
                                <img src="../Assets/Card-Assets/drTile01.jpg" alt="Dr Stone S01">
                                <p class="mt-3 text-white ">S01 Episode 18</p>
                            </div>
                            <div class="movie-card">
                                <img src="../Assets/Card-Assets/drTile01.jpg" alt="Dr Stone S01">
                                <p class="mt-3 text-white ">S01 Episode 19</p>
                            </div>
                            <div class="movie-card">
                                <img src="../Assets/Card-Assets/drTile01.jpg" alt="Dr Stone S01">
                                <p class="mt-3 text-white ">S01 Episode 20</p>
                            </div>
                            <div class="movie-card">
                                <img src="../Assets/Card-Assets/drTile01.jpg" alt="Dr Stone S01">
                                <p class="mt-3 text-white ">S01 Episode 21</p>
                            </div>
                            <div class="movie-card">
                                <img src="../Assets/Card-Assets/drTile01.jpg" alt="Dr Stone S01">
                                <p class="mt-3 text-white ">S01 Episode 22</p>
                            </div>    
                            <div class="movie-card">
                                <img src="../Assets/Card-Assets/drTile01.jpg" alt="Dr Stone S01">
                                <p class="mt-3 text-white ">S01 Episode 23</p>
                            </div>
                            <div class="movie-card">
                                <img src="../Assets/Card-Assets/drTile01.jpg" alt="Dr Stone S01">
                                <p class="mt-3 text-white ">S01 Episode 24</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="season2" role="tabpanel" aria-labelledby="season2-tab">
                    <div class="container pt-3 ps-3">  
                    <div class="movie-container">
                        <div class="movie-card">
                            <img src="../Assets/Card-Assets/DrTile02.jpg" alt="Dr Stone S02">
                            <p class="mt-3 text-white ">S02 Episode 01</p>
                        </div>
                        <div class="movie-card">
                            <img src="../Assets/Card-Assets/drTile02.jpg" alt="Dr Stone S02">
                            <p class="mt-3 text-white ">S02 Episode 02</p>
                        </div>
                        <div class="movie-card">
                            <img src="../Assets/Card-Assets/DrTile02.jpg" alt="Dr Stone S02">
                            <p class="mt-3 text-white ">S02 Episode 03</p>
                        </div>
                        
                        <div class="movie-card">
                            <img src="../Assets/Card-Assets/DrTile02.jpg" alt="Dr Stone S02">
                            <p class="mt-3 text-white ">S02 Episode 04</p>
                        </div>
                        <div class="movie-card">
                            <img src="../Assets/Card-Assets/drTile02.jpg" alt="Dr Stone S02">
                            <p class="mt-3 text-white ">S02 Episode 05</p>
                        </div>
                        <div class="movie-card">
                            <img src="../Assets/Card-Assets/DrTile02.jpg" alt="Dr Stone S02">
                            <p class="mt-3 text-white ">S02 Episode 06</p>
                        </div>
                        <div class="movie-card">
                            <img src="../Assets/Card-Assets/DrTile02.jpg" alt="Dr Stone S02">
                            <p class="mt-3 text-white ">S02 Episode 07</p>
                        </div>
                        <div class="movie-card">
                            <img src="../Assets/Card-Assets/DrTile02.jpg" alt="Dr Stone S02">
                            <p class="mt-3 text-white ">S02 Episode 08</p>
                        </div>
                        <div class="movie-card">
                            <img src="../Assets/Card-Assets/DrTile02.jpg" alt="Dr Stone S02">
                            <p class="mt-3 text-white ">S02 Episode 09</p>
                        </div>
                        <div class="movie-card">
                            <img src="../Assets/Card-Assets/drTile02.jpg" alt="Dr Stone S02">
                            <p class="mt-3 text-white ">S02 Episode 10</p>
                        </div>
                        <div class="movie-card">
                            <img src="../Assets/Card-Assets/DrTile02.jpg" alt="Dr Stone S02">
                            <p class="mt-3 text-white ">S02 Episode 11</p>
                        </div>         
                        <div class="movie-card">
                            <img src="../Assets/Card-Assets/DrTile02.jpg" alt="Dr Stone S02">
                            <p class="mt-3 text-white ">S02 Episode 12</p>
                        </div>
                        <div class="movie-card">
                            <img src="../Assets/Card-Assets/drTile02.jpg" alt="Dr Stone S02">
                            <p class="mt-3 text-white ">S02 Episode 13</p>
                        </div>
                    </div>
                </div>
                </div>
                <div class="tab-pane fade" id="season3" role="tabpanel" aria-labelledby="season3-tab">
                    <div class="container pt-3 ps-3"> 
                    <div class="movie-container">
                        <div class="movie-card">
                            <img src="../Assets/Card-Assets/DrTile03.jpeg" alt="Dr Stone S03">
                            <p class="mt-3 text-white ">S03 Episode 01</p>
                        </div>
                        <div class="movie-card">
                            <img src="../Assets/Card-Assets/DrTile03.jpeg" alt="Dr stone S03">
                            <p class="mt-3 text-white ">S03 Episode 02</p>
                        </div>
                        <div class="movie-card">
                            <img src="../Assets/Card-Assets/DrTile03.jpeg" alt="Dr Stone S03">
                            <p class="mt-3 text-white ">S03 Episode 03</p>
                        </div>
                        
                        <div class="movie-card">
                            <img src="../Assets/Card-Assets/DrTile03.jpeg" alt="Dr Stone S03">
                            <p class="mt-3 text-white ">S03 Episode 04</p>
                        </div>
                        <div class="movie-card">
                            <img src="../Assets/Card-Assets/DrTile03.jpeg" alt="Dr Stone S03">
                            <p class="mt-3 text-white ">S03 Episode 05</p>
                        </div>
                        <div class="movie-card">
                            <img src="../Assets/Card-Assets/DrTile03.jpeg" alt="Dr Stone S03">
                            <p class="mt-3 text-white ">S03 Episode 06</p>
                        </div>
                        <div class="movie-card">
                            <img src="../Assets/Card-Assets/DrTile03.jpeg" alt="Dr Stone S03">
                            <p class="mt-3 text-white ">S03 Episode 07</p>
                        </div>
                        <div class="movie-card">
                            <img src="../Assets/Card-Assets/DrTile03.jpeg" alt="Dr Stone S03">
                            <p class="mt-3 text-white ">S03 Episode 08</p>
                        </div>
                        <div class="movie-card">
                            <img src="../Assets/Card-Assets/DrTile03.jpeg" alt="Dr Stone S03">
                            <p class="mt-3 text-white ">S03 Episode 09</p>
                        </div>
                        <div class="movie-card">
                            <img src="../Assets/Card-Assets/DrTile03.jpeg" alt="Dr Stone S03">
                            <p class="mt-3 text-white ">S03 Episode 10</p>
                        </div>
                        <div class="movie-card">
                            <img src="../Assets/Card-Assets/DrTile03.jpeg" alt="Dr Stone S03">
                            <p class="mt-3 text-white ">S03 Episode 11</p>
                        </div>         
                        <div class="movie-card">
                            <img src="../Assets/Card-Assets/DrTile03.jpeg" alt="Dr Stone S03">
                            <p class="mt-3 text-white ">S03 Episode 12</p>
                        </div>
                        <div class="movie-card">
                            <img src="../Assets/Card-Assets/DrTile03.jpeg" alt="Dr Stone S03">
                            <p class="mt-3 text-white ">S03 Episode 13</p>
                        </div>
                        <div class="movie-card">
                            <img src="../Assets/Card-Assets/DrTile03.jpeg" alt="Dr Stone S03">
                            <p class="mt-3 text-white ">S03 Episode 14</p>
                        </div>
            
                        <div class="movie-card">
                            <img src="../Assets/Card-Assets/DrTile03.jpeg" alt="Dr Stone S03">
                            <p class="mt-3 text-white ">S03 Episode 15</p>
                        </div>
                        <div class="movie-card">
                            <img src="../Assets/Card-Assets/DrTile03.jpeg" alt="Dr Stone S03">
                            <p class="mt-3 text-white ">S03 Episode 16</p>
                        </div>
                        <div class="movie-card">
                            <img src="../Assets/Card-Assets/DrTile03.jpeg" alt="Dr Stone S03">
                            <p class="mt-3 text-white ">S03 Episode 17</p>
                        </div>
                        <div class="movie-card">
                            <img src="../Assets/Card-Assets/DrTile03.jpeg" alt="Dr Stone S03">
                            <p class="mt-3 text-white ">S03 Episode 18</p>
                        </div>
                        <div class="movie-card">
                            <img src="../Assets/Card-Assets/DrTile03.jpeg" alt="Dr Stone S03">
                            <p class="mt-3 text-white ">S03 Episode 19</p>
                        </div>
                        <div class="movie-card">
                            <img src="../Assets/Card-Assets/DrTile03.jpeg" alt="Dr Stone S03">
                            <p class="mt-3 text-white ">S03 Episode 20</p>
                        </div>
                        <div class="movie-card">
                            <img src="../Assets/Card-Assets/DrTile03.jpeg" alt="Dr Stone S03">
                            <p class="mt-3 text-white ">S03 Episode 21</p>
                        </div>
                        <div class="movie-card">
                            <img src="../Assets/Card-Assets/DrTile03.jpeg" alt="Dr Stone S03">
                            <p class="mt-3 text-white ">S03 Episode 22</p>
                        </div>    
                    </div>
                </div>
                </div>
                <div class="tab-pane fade " id="season4" role="tabpanel" aria-labelledby="season4-tab">
                    <div class="container pt-3 ps-3"> 
                    <div class="movie-container">
                        <div class="movie-card">
                            <img src="../Assets/Card-Assets/Genre/RyusuiOVA.webp" alt="Ryusui OVA">
                            <p class="mt-3 text-white ">Ryusui OVA</p>
                        </div>
                    </div>
                </div>
                </div>
            </div>
        </div>
    
        <div class="col-lg-4 col-md-12">
            <!-- Series Picture -->
            <img src="../Assets/Card-Assets/DrTile03.jpeg" class="img-fluid mb-4" alt="Series Picture">
            <!-- Series Description -->
            <div class="series-description mb-4">
                <h4 class="text-danger">Plot Summary</h4>
                <p style="text-indent: 10%; text-align: justify;">   One fateful day, all of humanity was petrified by a blinding flash of light. After several millennia, high schooler Taiju awakens and finds himself lost in a world of statues. However, he's not alone. His science-loving friend Senku's been up and running for a few months and he's got a grand plan in mind, to kickstart civilization with the power of science.</p>
            </div>
            <!-- Additional Content Space -->
            <div class="additional-content">
                <h5 class="text-danger">Genre</h5>
                <p>Action, Acdventure, Comedy, Sci-Fi</p>
            </div>
            <div class="additional-content">
                <h5 class="text-danger">Rating</h5>
                <div><span class="text-warning fw-bold ">IMDB   </span>: <span class="text-center">8.1/10</span></div>
                <br>
                <p><span class="text-primary fw-bold ps-5">MAL   </span> :<span class="text-center"> 8.3/10</span></p>
            </div>
        </div>
    </div>
</div>

<!-- Bootstrap JS and dependencies -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
