<!DOCTYPE html>
<html lang="en"><head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>ZenPlay</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/5.1.3/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../CSS files/Main.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>
  <body>
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
    
      <fieldset >
     <!-- Feildset for Home page    -->
    <fieldset id="front-page">
    <section >
        <nav class="navbar navbar-expand-lg  bg-black " id="NavBar">
            <div class="container-fluid d-flex">
              <div class="d-flex space justify-content-space-between">
           <a class="navbar-brand" href="./Main.html"><img src="../Assets/ZenPlay(3).png" class="logo img-fluid  d-inline align-text-top"> </a>
              <button class="navbar-toggler bg-white " type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button></div>
              <div class="collapse navbar-collapse text-light" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0 text-light text-center">
                  <li class="nav-item">
                    <a class="nav-link text-light active" aria-current="page" href="./Main.html">Home</a>
                  </li>
                  <li class="nav-item"></li>
                      <a class="nav-link text-white" href="#" id="genresPopover" data-toggle="popover" data-placement="bottom">Genres</a>
                  
                  </li>
                  <li class="nav-item ">
                    <a class="nav-link text-light" href="./Movies.html">Movies & OVA</a>
                  </li>
                 <li class="nav-item ">
                    <a class="nav-link text-light me-3" href="./upcoming.html">Upcoming</a>
                  </li>
                  <li class="nav-item ">
                    <a class="nav-link text-light me-3" href="./FAQ.html">FAQ</a>
                  </li> 
                </ul>
                
              </div>
            </div>
          </nav>
          
    </section>
   
  <section id="carousel " class="pb-5 pt-5 mt-4  bg-dark">
    <div class="container-xl text-center  pb-2">
    <div class="row  justify-content-center">
    <div class="col-lg-12 col-sm-12  justify-content-center">

      <div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel">
        <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="../Assets/OP.jpg" fluid="" class="d-block w-100 " alt="One Piece" data-bs-interval="3000">
          <div class="carousel-overlay"></div>
          <div class="carousel-caption  text-start">
            <h3 class="fw-bold text-red ">#1Trending</h3>
            <h1 class="fw-bold text-white display-3  ">One Piece</h1>
            <h6 class=" text-light lead text-start d-none d-lg-block d-md-block">"One Piece" is a beloved Japanese anime and manga series created by Eiichiro Oda. It follows the adventures of Monkey D. Luffy and his pirate crew, known as the Straw Hat Pirates, as they search for the ultimate treasure known as One Piece, which will make Luffy the Pirate King.</h6>
            <button class="btn round btn-dark " href="./AnimePage.html">Watch Now</button>
          </div>
    
        </div>
        <div class="carousel-item">
          <img src="../Assets/DS05.webp" class="d-block w-100 " id="ds" alt="Demon Slayer" data-bs-interval="2000">
          <div class="carousel-overlay"></div>
          <div class="carousel-caption text-start">
            <h3 class="fw-bold text-red">#2Trending</h3>
            <h1 class="fw-bold text-white display-3 text-start">Demon Slayer</h1>
            <h6 class=" text-light lead text-start d-none d-lg-block d-md-block d-md-block">It follows Tanjiro Kamado, a young boy who becomes a demon slayer after his family is slaughtered by demons, and his sister Nezuko, who is turned into a demon herself but retains some human emotions. Tanjiro, fueled by his desire for revenge and his determination to cure his sister, embarks on a perilous journey to eliminate demons and find a cure.</h6>
            <a class="btn round btn-dark " href="./AnimePage.html">Watch Now</a>
          </div>
    
        </div>
        <div class="carousel-item">
          <img src="../Assets/JR2.webp" class="d-block w-100" alt="Jobless reincarnation" data-bs-interval="2000">
          <div class="carousel-overlay"></div>
          <div class="carousel-caption  text-start">
            <h3 class="fw-bold text-red">#3Trending</h3>
            <h1 class="fw-bold text-white display-3 text-start d-none d-lg-block d-md-block">Mushoku Tensei</h1>
            <h1 class="fw-bold text-white display-6 text-start   d-block d-md-none  ">Mushoku Tensei</h1>
            <h6 class=" text-light lead text-start d-none d-lg-block d-md-block">Rudeus Greyrat, a socially awkward and unemployed man who is reincarnated into a magical world after dying in a tragic accident. With the memories of his past life intact, Rudeus resolves to make the most of his second chance by becoming a better person and mastering the art of magic. </h6>
            <a class="btn round btn-dark " href="./AnimePage.html">Watch Now</a>
          </div>
        </div>
        <div class="carousel-item">
          <img src="../Assets/WB2.jpg" class="d-block w-100" alt="wind breaker" data-bs-interval="2000">
          <div class="carousel-overlay"></div>
          <div class="carousel-caption  text-start">
            <h3 class="fw-bold text-red">#4Trending</h3>
            <h1 class="fw-bold text-white display-3 text-start d-none d-lg-block d-md-block">Wind Breaker</h1>
            <h1 class="fw-bold text-white display-6 text-start  d-block d-md-none ">Wind Breaker</h1>
            <h6 class=" text-light lead text-start d-none d-lg-block d-md-block">"Step into the exhilarating world of Wind Breaker anime! Feel the rush of adrenaline as characters defy gravity with their jaw-dropping parkour skills. Join the journey of friendship, rivalry, and self-discovery amidst breathtaking urban landscapes. Get ready to be swept away by the wind!"</h6>
            <a class="btn round btn-dark " href="./AnimePage.html">Watch Now</a>
          </div>
        </div>
        <div class="carousel-item ">
          <img src="../Assets/KS2.webp" class="d-block w-100" alt="Konosuba" data-bs-interval="2000">
          <div class="carousel-overlay"></div>
          <div class="carousel-caption  text-start">
            <h3 class="fw-bold text-red">#5Trending</h3>
            <h1 class="fw-bold text-white display-3 text-start">Konosuba</h1>
            <h6 class=" text-light lead text-start d-none d-lg-block d-md-block">"Dive into the hilarious and absurd world of Konosuba anime! Follow the misadventures of Kazuma and his quirky companions as they navigate a fantasy realm filled with chaos, comedy, and unexpected twists. Get ready for laughter, epic battles, and plenty of memorable moments in this unforgettable comedy adventure!"</h6>
            <a class="btn round btn-dark " href="./AnimePage.html"><faplaybutton> Watch Now</faplaybutton></a>
          </div>
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
        <span class="" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
        <span class="" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>   
    </div>
  </div>
</div>
</div>
    </section>
     <!-- Fieldset for anime row cards below here -->
    <fieldset id="cards" class="bg-black">
      <!-- Popular anime row section below  -->
    <section class="bg-black pt-5">
        
        <div class="container mt-5">
          <h2 class="text-danger fw-bold">Popular </h2><hr class="hr">
          <div class="movie-container">
            <div class="movie-card" data-title="dr Stone">
              <a href="./AnimePage.html">  <img src="../Assets/Card-Assets/Drs33.jpeg" alt="Dr Stone"></a>
                <p class="mt-3 text-white ">Dr Stone (S03)</p>
            </div>
              <div class="movie-card">
                <a href="./AnimePage.html"> <img src="../Assets/Card-Assets/Naruto.jpg" alt="Naruto"></a>
                  <p class="mt-3 text-white ">Naruto</p>
              </div>
              
              <div class="movie-card">
                <a href="./AnimePage.html"> <img src="../Assets/Card-Assets/OP.jpg" alt="One Piece"></a>
                  <p class="mt-3 text-white ">One Piece</p>
              </div>
              <div class="movie-card">
                <a href="./AnimePage.html"> <img src="../Assets/Card-Assets/Genre/Aot05.jpg" alt="Attack on Titan"></a>
                  <p class="mt-3 text-white ">Attack on Titan</p>
              </div>
              <div class="movie-card">
                <a href="./AnimePage.html"> <img src="../Assets/Card-Assets/naruto1.jpg" alt="Naruto Shippuden"></a>
                  <p class="mt-3 text-white ">Naruto Shippuden</p>
              </div>
              <div class="movie-card">
                <a href="./AnimePage.html"> <img src="../Assets/Card-Assets/DS.jpg" alt="Demon slayer"></a>
                <p class="mt-3 text-white ">Demon Slayer</p>
            </div>
            <div class="movie-card">
              <a href="./AnimePage.html"> <img src="../Assets/Card-Assets/dg.jpg" alt="Dragon Ball super"></a>
              <p class="mt-3 text-white ">Dragon Ball super</p>
          </div>
          <div class="movie-card">
            <a href="./AnimePage.html">   <img src="../Assets/Card-Assets/DGZ.jpg" alt="Dragon Ball Z"></a>
            <p class="mt-3 text-white ">Dragon Ball Z</p>
        </div>
        <div class="movie-card">
          <a href="./AnimePage.html">  <img src="../Assets/Card-Assets/BC.jpg" alt="Black Clover"></a>
          <p class="mt-3 text-white ">Black Clover</p>
      </div>
      <div class="movie-card">
        <a href="./AnimePage.html"> <img src="../Assets/Card-Assets/Bleach.webp" alt="Bleach"></a>
        <p class="mt-3 text-white ">Bleach</p>
    </div>
    <div class="movie-card">
      <a href="./AnimePage.html"> <img src="../Assets/Card-Assets/HxH.avif" alt="Hunter X Hunter"></a>
      <p class="mt-3 text-white ">Hunter X Hunter</p>
  </div>
  <div class="movie-card ">
    <a href="./AnimePage.html"> <img src="../Assets/Card-Assets/SAO.jpg" alt="SAO"></a>
      <p class="mt-3 text-white ">Sword Art Online</p>
  </div>
              
          </div>
          
      </div>
     
                                                        
    <!-- <a class="carousel-control-prev" href="#movieRow" role="button" onclick="slideLeft()">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
  <span class="sr-only">Previous</span></a>
  <a class="carousel-control-next" href="#movieRow" role="button" onclick="slideRight()">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
  <span class="sr-only">Next</span></a> -->
      </section>
      <!-- hr for separation -->
      <div class="pt-4">
      <hr class="bg-light">
    </div>
     <!-- Ongoing anime row section below  -->
      <section class="bg-black">
          
          <div class="container pt-5">
            <h2 class="text-danger fw-bold">Ongoing </h2><hr class="hr">
            
            <div class="movie-container">
            
                <div class="movie-card">
                  <a href="./AnimePage.html">  <img src="../Assets/Card-Assets/K8.webp" alt="Kaiju no 8"></a>
                    <p class="mt-3 text-white ">Kaiju no 8</p>
                </div>
                <div class="movie-card">
                  <a href="./AnimePage.html">    <img src="../Assets/Card-Assets/MF.jpg" alt="Moonlit Fantasy"></a>
                  <p class="mt-3 text-white ">Moonlit Fantasy</p>
              </div>
                  <div class="movie-card">
                    <a href="./AnimePage.html">   <img src="../Assets/Card-Assets/DS.jpg" alt="Demon slayer"></a>
                      <p class="mt-3 text-white ">Demon Slayer</p>
                  </div>
                  <div class="movie-card">
                    <a href="./AnimePage.html">   <img src="../Assets/Card-Assets/mha2.webp" alt="mha"></a>
                    <p class="mt-3 text-white ">MY Hero Academia</p>
                </div>
                  <div class="movie-card">
                    <a href="./AnimePage.html">   <img src="../Assets/Card-Assets/OP.jpg" alt="One Piece"></a>
                      <p class="mt-3 text-white ">One Piece</p>
                  </div>
            <div class="movie-card">
              <a href="./AnimePage.html"> <img src="../Assets/Card-Assets/SL.jpg" alt="Tensura!"></a>
              <p class="mt-3 text-white ">Tensura!</p>
            </div>
            <div class="movie-card">
              <img src="../Assets/Card-Assets/MT.jpg" alt="Mushoku Tensei">
              <p class="mt-3 text-white ">Mushoku Tensei Z</p>
          </div>
          <div class="movie-card">
            <img src="../Assets/Card-Assets/BB.webp" alt="Black Butlerr">
            <p class="mt-3 text-white ">Black Butler</p>
        </div>
        <div class="movie-card">
          <img src="../Assets/Card-Assets/JB.webp" alt="jisan Basan wakareru">
          <p class="mt-3 text-white ">jisan Basan wakareru</p>
      </div>
      <div class="movie-card">
        <img src="../Assets/Card-Assets/Bleach.webp" alt="Bleach">
        <p class="mt-3 text-white ">Bleach</p>
    </div>
    <div class="movie-card">
        <img src="../Assets/Card-Assets/KS2.webp" alt="Konosuba">
        <p class="mt-3 text-white ">Konosuba</p>
    </div>
                
            </div>
            <div class="pt-2">
              <hr class="hr"></div>
        </div>
      
      
      <!-- <a class="carousel-control-prev" href="#movieRow" role="button" onclick="slideLeft()">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span></a>
    <a class="carousel-control-next" href="#movieRow" role="button" onclick="slideRight()">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span></a> -->
        </section>
        <!-- hr for separation -->
        <div class="pt-4">
          <hr class="bg-light">
        </div>
        <!-- Comments section like aniwatch below here -->
        <section class="bg-black">
          
          <div class="container pt-5">
            <h5 class="text-white fw-bold pb-4"><span class="bg-dark text-warning tag me-3 d-none d-lg-inline d-md-block">Newest Comments</span> Top Comments</h5>
            
            <div class="movie-container">
              <div class="comment-card">
                <img src="../Assets/OP.jpg" alt="Profile" class="profile-img">
                <div class="comment-content">
                  <div class="comment-author">John Doe377</div>
                  <div class="comment-tym ">1 min ago</div>
                  <div class="comment-text">The protagonist in wind breaker is cool and like the way the story goes..</div>
                </div>
              </div>
              <div class="comment-card">
                <img src="../Assets/DS.avif" alt="Profile" class="profile-img">
                <div class="comment-content">
                  <div class="comment-author">Stylish too</div>
                  <div class="comment-tym ">1 min ago</div>
                  <div class="comment-text">The story sucks  in duke of dead. LMAO in my POV s of life are best compare to this. </div>
                </div>
              </div>
              <div class="comment-card">
                <img src="../Assets/Card-Assets/BC.jpg" alt="Profile" class="profile-img">
                <div class="comment-content">
                  <div class="comment-author">Noob-Master33</div>
                  <div class="comment-tym ">3 min ago</div>
                  <div class="comment-text">I like the prev season of dangers in my heart,Apothecary diaries and frieren </div>
                </div>
              </div>
              <div class="comment-card">
                <img src="../Assets/Card-Assets/KS2.webp" alt="Profile" class="profile-img">
                <div class="comment-content">
                  <div class="comment-author">DeadMen orld</div>
                  <div class="comment-tym ">3 min ago</div>
                  <div class="comment-text">I like Horror animes ,so anybody can suggest anime like junji ito?</div>
                </div>
              </div>
              <div class="comment-card">
                <img src="../Assets/Card-Assets/K8.webp" alt="Profile" class="profile-img">
                <div class="comment-content">
                  <div class="comment-author">King-Kaiju1</div>
                  <div class="comment-tym ">4 min ago</div>
                  <div class="comment-text">I like the Kaijus kind of anime ,so please suggest me any good guys! {'-'}</div>
                </div>
              </div>
              <div class="comment-card">
                <img src="../Assets/Card-Assets/Naruto.jpg" alt="Profile" class="profile-img">
                <div class="comment-content">
                  <div class="comment-author">Rasen Master</div>
                  <div class="comment-tym ">5 min ago</div>
                  <div class="comment-text">There are not any best shounen recently, but i loves jjk it feel good!</div>
                </div>
              </div>
              <div class="comment-card">
                <img src="../Assets/Card-Assets/DGZ.jpg" alt="Profile" class="profile-img">
                <div class="comment-content">
                  <div class="comment-author">Saiyan-6</div>
                  <div class="comment-tym ">7 min ago</div>
                  <div class="comment-text">New dragon ball animation is top notch guys, the story is also decent .</div>
                </div>
              </div>
              <div class="comment-card">
                <img src="../Assets/Card-Assets/Bleach.webp" alt="Profile" class="profile-img">
                <div class="comment-content">
                  <div class="comment-author">Soul-Seeker1021</div>
                  <div class="comment-tym ">9 min ago</div>
                  <div class="comment-text">Bleach thousand year blood wars adaption is completely acceptable.</div>
                </div>
              </div>  
              <div class="comment-card">
                <img src="../Assets/OP.jpg" alt="Profile" class="profile-img">
                <div class="comment-content">
                  <div class="comment-author">Shadows Reign03</div>
                  <div class="comment-tym ">1 min ago</div>
                  <div class="comment-text">The protagonist in wind breaker is cool and like the way the story goes..</div>
                </div>
              </div>
              <div class="comment-card">
                <img src="../Assets/DS.avif" alt="Profile" class="profile-img">
                <div class="comment-content">
                  <div class="comment-author">Myth Mons</div>
                  <div class="comment-tym ">1 min ago</div>
                  <div class="comment-text">The story sucks  in duke of dead. LMAO in my POV s of life are best compare to this. </div>
                </div>      
            </div>
           
        </section>
        <!-- hr for separation -->
        <div class="pt-4">    
          <hr class="bg-light">
        </div>
        <!-- Recently trended movie row below here -->
        <section class="bg-black">
          
          <div class="container pt-5">
            <h2 class="text-danger fw-bold">Recently Trended </h2><hr class="hr">
            
            <div class="movie-container">
            
                <div class="movie-card">
                 <a href="./AnimePage.html"><img src="../Assets/Card-Assets/AD3.jpg" alt="Apothecary Diaries"></a>
                    <p class="mt-3 text-white me-2 ">Apothecary Diaries</p>
                </div>
                <div class="movie-card">
                <a href="./AnimePage.html">  <img src="../Assets/Card-Assets/Drs33.jpeg" alt="Dr Stone"></a>
                  <p class="mt-3 text-white ">Dr Stone (S03)</p>
              </div>
                  <div class="movie-card">
                      <img src="../Assets/Card-Assets/FBJ3.png" alt="Frieren jr">
                      <p class="mt-3 text-white ">Sousou no Frieren</p>
                  </div>
                  <div class="movie-card">
                    <img src="../Assets/Card-Assets/Zom1003.jpg" alt="Zom 100">
                    <p class="mt-3 text-white ">Zom 100</p>
                </div>     
                  <div class="movie-card">
                      <img src="../Assets/Card-Assets/SF3.jpg" alt="Shangri la">
                      <p class="mt-3 text-white ">Shangri la Frontier</p>
                  </div>
            <div class="movie-card">
              <img src="../Assets/Card-Assets/TK3.webp" alt="Tokyo revenger">
              <p class="mt-3 text-white ">Tokyo Revengers (S03)</p>
            </div>
            <div class="movie-card">
              <img src="../Assets/Card-Assets/Gob3.jpg" alt="Goblin Slayer">
              <p class="mt-3 text-white ">Goblin Slayer (S02)</p>
          </div>
            <div class="movie-card">
              <img src="../Assets/Card-Assets/SL3.webp" alt="Solo Leveling">
              <p class="mt-3 text-white ">Solo Leveling</p>
          </div>
         
        <div class="movie-card">
          <img src="../Assets/Card-Assets/SxF3.jpg" alt="Spy X Family">
          <p class="mt-3 text-white ">Spy X Family</p>
      </div>
      <div class="movie-card">
        <img src="../Assets/Card-Assets/RuK3.webp" alt="Ruroni Kenshin">
        <p class="mt-3 text-white ">Ruroni Kenshin</p>
    </div>  
    <div class="movie-card">
        <img src="../Assets/Card-Assets/DG3.jpg" alt="Dark Gathering">
        <p class="mt-3 text-white ">Dark Gathering</p>
    </div>
           
            </div>
            <div class="pt-2">
              <hr class="hr"></div>
        </div>
      
      
        </section>
         <!-- hr for separation -->
         <div class="pt-4">    
          <hr class="bg-light">
        </div>
        <section class="bg-black text-white" id="footer">
          <footer class="footer mt-5">
            <div class="container">
              <div class="footer-content">
                <div class="footer-logo">
                  <img src="../Assets/ZenPlay(3).png" alt="Logo" class="img-fluid">
                </div>
               
                <div class="footer-text text-white d-none d-lg-block d-md-block">
                  <p>"アニメを見て、笑うことを忘れないでください."</p>
                </div>
                <div class="footer-icons text-white">
                <a href="#">  <i class="fa fa-facebook-square text-primary"></i></a>
                  <a href="#"> <i class="fa fa-twitter text-info"></i></a>
                    <a href="#"> <i class="fa fa-instagram text-pink"></i></a>
                      <a href="#">  <i class="fa fa-reddit text-red"></i></a>
                </div>
              </div>
             
              <div class=" text-muted">
                  <p class="mt-3">ZenPlay does not store any files on our server, We only linked to the media which is hosted on 3rd party services</p>
                  <p>&copy ZenPlay.to All rights reserved</p>
              </div>
            </div>
          </footer>
          
        </section>
      </fieldset>
  </fieldset>
 
  </fieldset>
  <!-- This is for the popover Menu -->
  <div id="popoverContent" style="display: none;" >
    <a href="../Components/Genre.html#Action">Action</a>
    <a href="../Components/Genre.html#Adventure">Adventure</a>
    <a href="../Components/Genre.html#Comedy">Comedy</a>
    <a href="../Components/Genre.html#Drama">Drama</a>
  
  
    <a href="../Components/Genre.html#Donghua">Donghua</a>
    <a href="../Components/Genre.html#Ecchi">Ecchi</a>
    <a href="../Components/Genre.html#Fantasy">Fantasy</a>
    <a href="../Components/Genre.html#Gore">Gore</a>
  
  
    <a href="../Components/Genre.html#Harem">Harem</a>
    <a href="../Components/Genre.html#Horror">Horror</a>
    <a href="../Components/Genre.html#Isekai">Isekai</a>
    <a href="../Components/Genre.html#Meccha">Meccha</a>
  
  
    <a href="../Components/Genre.html#Mystery">Mystery</a>
    <a href="../Components/Genre.html#Psychological">Psychological</a>
    <a href="../Components/Genre.html#Romance">Romance</a>
    <a href="../Components/Genre.html#Sci-fi">Sci-Fi</a>
  
  
    <a href="../Components/Genre.html#Shounen">Shounen</a>
    <a href="../Components/Genre.html#Seinen">Seinen</a>
    <a href="../Components/Genre.html#Sliceoflife">Slice of life</a>
    <a href="../Components/Genre.html#Sports">Sports</a>
  
  </div>
 
<!-- Bootstrap JS and dependencies -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<!-- Custom JS -->
<script src="../Jsfiles/Search.js"></script>
  <!-- Code injected by live-server -->
  <script>
    $(document).ready(function(){
        $('#genresPopover').popover({
            html: true,
            content: function() {
                return $('#popoverContent').html();
            }
        });
    });

    
  </script>


</body></html>